body {
    background-color: rgb(214, 214, 214);
}

img {
    width: 80%;
}

section {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#push_x5F_message {
    transform: translateY(-200px);
}

#bike_scene {
    width: 70%;
}

#bike_scene>svg:nth-child(2) {
    width: 100%;
}