$big-tablet: 1000px;

@mixin big-tablet {
    @media (min-width: #{$big-tablet}) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header {
    #headline {
        font-size: 70px;
        position: absolute;
        left: 50%;
        font-family: "montserratblack";

        transform: translate(-50%, 0);

        @include big-tablet {
            top: 50px;
        }
    }

    #cta {
        position: absolute;
        top: 170px;
        left: 50px;

        #text {
            background-color: lightblue;
            padding: 15px 30px;
            border-radius: 10px;
            font-size: 18px;
            position: relative;
            font-family: "montserratlight";
            text-align: center;

            @include big-tablet {
                font-size: 25px;
            }
        }

        img {
            width: 50px;

            @include big-tablet {
                width: 80px;
            }
        }

        #arrow_top {
            position: absolute;
            left: 175px;
            bottom: 5px;
            transform: rotate(60deg);

            @include big-tablet {
                left: 230px;
            }
        }

        #arrow_bottom {
            position: absolute;
            left: 0;
            top: 100px;
            transform: scaleY(-1) rotate(-30deg);

            @include big-tablet {
                top: 120px;
            }
        }

        @include big-tablet {
            top: 230px;
        }
    }
}

#landing {
    position: relative;
    height: 100vh;
    display: grid;
    align-content: center;
}

svg {
    transition: 3s;
}

#infoscreen {
    position: absolute;
    background-color: #aed4da;
    width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    max-height: 0;
    border: #578cbd;
    overflow: scroll;

    h1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "montserratblack";
        // font-style: normal;
        // font-weight: 700;
        font-size: 50px;
        line-height: 1;
    }

    h2 {
        font-family: "montserratbold";
        // font-style: normal;
        // font-weight: 700;
        margin-bottom: 0;
    }

    p {
        font-family: "montserratlight";
        // font-style: normal;
        // font-weight: 400;
        font-size: 24px;
        margin-top: 5px;
    }

    #close {
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        font-family: "montserratlight";
    }

    figure {
        margin: 0;
        padding: 0;

        img {
            width: 100%;
        }

        figcaption {
            font-size: 16px;
            font-style: italic;
            font-family: "montserratlight";
        }
    }
}


#circle_x5F_0_x5F_start,
#circle_x5F_0_x5F_end,
#circle_x5F_1_x5F_start,
#circle_x5F_1_x5F_end,
#circle_x5F_2_x5F_start,
#circle_x5F_2_x5F_end,
#circle_x5F_3_x5F_start,
#circle_x5F_3_x5F_end,
#circle_x5F_4_x5F_start,
#circle_x5F_4_x5F_end,
#circle_x5F_5_x5F_start,
#circle_x5F_5_x5F_end {
    stroke-dashoffset: 19;
    stroke-dasharray: 19;
    transform: rotate(-90deg);
    transform-origin: center;
    transform-box: fill-box;
}

#circle_x5F_0_x5F_end,
#circle_x5F_1_x5F_end,
#circle_x5F_2_x5F_end,
#circle_x5F_3_x5F_end,
#circle_x5F_4_x5F_end,
#circle_x5F_5_x5F_end {
    transform: rotate(90deg);
}

#path_x5F_0 {
    stroke-dasharray: 202;
    stroke-dashoffset: 202;
}

#path_x5F_1 {
    stroke-dasharray: 104;
    stroke-dashoffset: 104;
}

#path_x5F_2 {
    stroke-dasharray: 106;
    stroke-dashoffset: 106;
}

#path_x5F_3 {
    stroke-dasharray: 141;
    stroke-dashoffset: 141;
}

#path_x5F_4 {
    stroke-dasharray: 134;
    stroke-dashoffset: 134;
}

#path_x5F_5 {
    stroke-dasharray: 127;
    stroke-dashoffset: 127;
}

// FONTE

@font-face {
    font-family: 'montserratblack';
    src: url('fonte/montserrat-black-webfont.woff2') format('woff2'),
        url('fonte/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonte/montserrat-bold-webfont.woff2') format('woff2'),
        url('fonte/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('fonte/montserrat-light-webfont.woff2') format('woff2'),
        url('fonte/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}